html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0;
    height: 100%;    
}
#left {
    background-color: #429ceb;
    grid-column: 1 / 2;
    display: flex;
    border-right: 10px solid brown;
    flex-direction: column;
}

#right {
    background-color: aqua;
    grid-column: 3 / 4;
    border-left: 10px solid brown;
}
#middle {
    background-color: hotpink;
    grid-column: 2 / 3;
}
button#cookie {
    border-radius: 360px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 350;
    width: 350;
    justify-content: center;
    align-items: center;
}
img#cookie {
    padding: 0;
    margin: 0;
}
img#cookie:hover {
    scale: 1.1;
}
#buildings {
    display: grid;
    
    
}
.buildingbtn {
    height: 50px;
}
.upgradebtn {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    
}

.btnsbuilding {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 1fr);
    margin: 0;
}

#upgrade {
    background-color: brown;
    padding-left: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 0;
}
#building {
    background-color: brown;
    padding-left: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 0;
}
p#store {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 0;
    margin: 10px 0;
}
#counter {
    display: flex;
    justify-content: center;
}
