body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    
}
div#left {
    background-color: #429ceb;
    grid-column: 1 / 2;
    display: flexbox;
        
}

div#right {
    background-color: #513d36;
    grid-column: 3 / 4;
}
div#middle {
    background-color: hotpink;
    grid-column: 2 / 3;
}
button#cookie {
    border-radius: 360px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 350;
    width: 350;
    justify-content: center;
    align-items: center;
}
img#cookie {
    padding: 0;
    margin: 0;
}


